*{
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("https://kidpassage.com/images/resorts/volgogradskaya-oblast/Volgograd-oblast958699191.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    font-weight: 300;
    font-size: 60px;
    text-align: center;
}

img {
    width: 100%;
    margin-top: 10px;
}


body {
    display:grid;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}

.container {
    width: 600px;
}

.drop {
    position:static;
    background-color: rgb(255, 0, 0);
    height: 0;
    overflow: hidden;
    width: 300px;
    transition: .5s;
}

.drop2 {
    position:static;
    background-color: rgb(255, 0, 0);
    height: 0;
    overflow: hidden;
    width: 300px;
    transition: .5s;
}

.drop {
    text-align: center;
    color: white;
    margin-top: 35px;
}

.drop2 {
    text-align: center;
    color: white;
    margin-top: 35px;
}
button:hover ~ .drop {
    height: 500px;
}


