body {
    margin:0;
    padding: 0;
    width: 100%;
    height: 110%;
    display: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,
    serif;
    size: 28 px;
    /* line-height: 1.6; - межстрочный интервал */
    background-color: #ffffff;
    position: absolute;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}
/*Блок для панели и логотипа*/
.header {
    width: auto;
    height: 200px;
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
}
.container {
    margin: 0 auto;
    display: block;
}
.header__inner{
    display: flex ;
    justify-content:center;
    align-items: flex-start;

}

#pic {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 2000;
    margin-top: -50px;
    /*position: fixed;*/
}

.logo{
    display: inline-block;
    align-items: center;
   
}

/*Панель*/
.nav{
    font-size: 22px;
    text-transform: uppercase;
    z-index: 2000;

    height: 300;
    min-width: 300;
    
}
.nav__link {
    vertical-align: top;
    color: #5288B6;
    text-decoration: none;
    margin: 0 60px;
    transition: color .2s linear;
}
.nav__link:hover{
    color: #9EFFAF;
}
.fa-solid fa-user{
    color:#5288B6;
}



/*.background{
    url("../images/background\ \(1\).svg") center;
    no-repeat;
    background-size: cover;
    }*/
 i{
    vertical-align: top;
    z-index:2000 ;
    color: #5288B6;
    text-decoration: none;
    margin: 0 50px;
    transition: color .2s linear;
    position: relative;
    margin-top: 5px;
    
}
i:hover{
    color: #9EFFAF; 
}



@font-face {
	font-family: 'applej'; 
	src: url(../../Res/applejuc.ttf); 
}


#glir{
    position: fixed;
    font-family: "applej";
    font-size: 80px;
    z-index: 2;
    text-align: center;
    top: -10%;
    left: 1%;
}

  
/*Это низ*/
.intro{
    width: auto;
    position: relative;
    height: 125%;
    margin: 0;
    background-position: center center;
    overflow: hidden;
    text-align: center;
 
}

.bottom_back{
    background-color: #00eccd;
    height: 30%;
    width: 100%;
    position: absolute;
    background-position: center center;
    bottom: 0;
    transition: opacity linear .4s;
    
}

.bottom_back_off{
    opacity: 0;
}



.victors_panel{  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(65, 65, 65);
    position: absolute;
    bottom: 0;
    margin-top: 50%;
    margin-bottom: 5%;
   
    
}

.Us:hover{
    color: white;
}
.Us{
    display: inline-block;
    margin: 30px;
    margin-top: 3%;
    transition: color linear .3s;
}

.background{
    position: relative;
    height: 100%;
    width: 100%;
   
}

#back{
    background-size: cover;
}


.single_bbo{
    width: 100%;
    height: 100%;
    position:static;
}